# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_BASE_URL="http://localhost:3000"
BETTER_AUTH_GOOGLE_CLIENT_ID=""
BETTER_AUTH_GOOGLE_CLIENT_SECRET=""

# Razorpay (monthly subscription)
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
NEXT_PUBLIC_RAZORPAY_KEY_ID=""

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/steno-dexter"

RAZORPAY_KEY_ID="kdf"
RAZORPAY_KEY_SECRET="kdf"
NEXT_PUBLIC_RAZORPAY_KEY_ID="kdf"

ADMIN_INVITE_CODE="adminisfree"

R2_ACCOUNT_ID=xxxx
R2_ACCESS_KEY_ID=xxxx
R2_SECRET_ACCESS_KEY=xxxx
R2_BUCKET=your-bucket
R2_PUBLIC_URL=https://cdn.yoursite.com
